.layout_items {
  background: #3f475a;
  // border: 1px solid black;
  // opacity: 30%;
}

.layout_items_viewer {
  background: #3f475a;

  // background: #101621;

  // border: 1px solid black;
  // opacity: 30%;
}

.layout_items_header {
  padding: 8px 8px 8px 16px;
  color: white;
  font-size: 14px;
  background-color: #3f475a;
  box-shadow: inset 0 0 4px #1b2436;
  cursor: pointer;
}

.custom_resizable_handle {
  position: absolute;
  right: -4px;
  bottom: -4px;
  z-index: 10;
  width: 0;
  height: 0;
  background: none;

  border: 7px solid transparent;
  border-left-color: #d8dce5;
  transform: rotate(45deg);

  cursor: se-resize;
}
